<div class="ui sixteen wide column footer">
    <p>
      Desenvolvido com muito carinho por <b>Matheus Moreira</b><i class="heart icon" style="color: firebrick"></i>
      <br>
      <a target="_blank" href="mailto:imatheusmoreiragmail.com"><i class="mail icon"></i>Fale comigo</a>
      &nbsp;&nbsp;
      <a target="_blank" href="https://linkedin.com/in/imatheusmoreira/"><i class="linkedin icon"></i>Ver LinkedIn</a>
      &nbsp;&nbsp;
      <a target="_blank" href="https://github.com/imatheusmoreira"><i class="github icon"></i>Siga no Github</a>
    </p>
  </div>
