<div *ngIf="momento == 1">
  <div class="ui statistic">
    <div class="value">
      Prepara&shy;ção para o terço
    </div>
    <div class="label">
      Momento
    </div>
  </div>
</div>

<div *ngIf="momento == 2">
  <div class="ui statistic">
    <div class="value">
      Ofereci&shy;mento do Terço
    </div>
    <div class="label">
      Momento
    </div>
  </div>
</div>

<div *ngIf="momento == 3">
  <div class="ui statistic">
    <div class="value">
      Oração prepara&shy;tória
    </div>
    <div class="label">
      Momento
    </div>
  </div>
</div>

<div *ngIf="momento == 4">
  <div class="ui statistic">
    <div class="value">
      Creio em Deus Pai
    </div>
    <div class="label">
      Momento
    </div>
  </div>
</div>

<div *ngIf="momento == 5">
  <div class="ui statistic">
    <div class="value">
      Início
    </div>
    <div class="label">
      Momento
    </div>
  </div>
  <p>
  <div *ngIf="oracaoContador > 0" class="ui three statistics">
    <div class="statistic">
      <div class="value">
        <i class="hourglass start icon"></i> {{oracaoContador}}
      </div>
      <div class="label">
        Atual
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        <br>
        De
      </div>
      <!-- <div class="label">
        Signups
      </div> -->
    </div>
    <div class="statistic">
      <div class="value">
        <i class="hourglass end icon"></i> 3
      </div>
      <div class="label">
        Total
      </div>
    </div>
  </div>
</div>

<div *ngIf="momento == 6">
  <div class="ui statistic">
    <div class="value">
      {{misterio}}º
    </div>
    <div class="label">
      Mistério
    </div>
  </div>
  <p>
  <div *ngIf="oracaoContador > 0" class="ui three statistics">
    <div class="statistic">
      <div class="value">
        <i class="hourglass start icon"></i> {{oracaoContador}}
      </div>
      <div class="label">
        Atual
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        <br>
        De
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="hourglass end icon"></i> {{oracaoTotal}}
      </div>
      <div class="label">
        Total
      </div>
    </div>
  </div>
</div>
<div *ngIf="momento == 7">
  <div class="ui statistic">
    <div class="value">
      Finalização
    </div>
    <div class="label">
      Momento
    </div>
  </div>
</div>

<div *ngIf="momento == 8">
  <div class="ui statistic">
    <div class="value">
      Glória ao Pai<br>Óh! meu Jesus
    </div>
    <div class="label">
      Momento
    </div>
  </div>
</div>
