<div class="ui grid container">
  <div class="ui sixteen wide column">
    <h2 class="ui header">O que é o terço</h2>
    <h4>
      O Santo Rosário é uma prática religiosa de devoção mariana muito difundida entre os católicos romanos, que o
      rezam tanto pública quanto individualmente. Consiste na recitação seriada de orações com o auxílio de uma corrente
      com contas ou nós, que recebe o mesmo nome. O rosário também compreende a contemplação de determinadas passagens da
      vida de Jesus Cristo e de sua mãe, a Virgem Maria, que, segundo a doutrina da Igreja Católica, são de especial
      relevância para a história da salvação e que recebem o nome de "Mistérios".
    </h4>
  </div>

  <div class="ui sixteen wide column">
    <h2 class="ui header">Erros comuns ao rezar</h2>
    <h4>
      São Luís Maria Grignion de Montfort coloca os 2 erros mais comuns dos que rezam o Santo Rosário ou parte dele:
      <ul>
        <li>
          O primeiro erro é não formular nenhuma intenção (é necessário estar em estado de graça para formular intenção
          para outros), de sorte que se lhe perguntais porque estão rezando, não vos saberiam responder. Tende, pois,
          sempre em vista, ao rezar o Rosário, alguma graça a pedir, alguma virtude a imitar ou algum pecado a evitar.
        </li>
        <li>
          O segundo erro que se comete frequentemente é não ter em vista, ao começar o Rosário, outra coisa senão acabá-lo
          o
          quanto antes.
        </li>
      </ul>
      São Luís diz que <i>"É uma pena ver como a maior parte das pessoas rezam o Rosário. Rezam-no com uma precipitação
      espantosa, devoram até a maior parte das palavras. Não se cumprimentaria desse modo ridículo ao último dos homens, e
      no entanto se imagina que Jesus e Maria se sentem honrados com isso! ...."</i>
      <br><a target="_blank" href="https://pt.wikipedia.org/wiki/Rosário_(catolicismo)">Saiba mais</a>
    </h4>
  </div>
</div>
