<div class="ui menu" style="height: 60px; opacity: 0.8;">
  <div class="item">
    <img src="./assets/img/tercoLogo.png" draggable="false" alt={{titulo}}>
  </div>
  <a routerLink="/home" routerLinkActive="active" class="item">Início</a>
  <a routerLink="/rezar" routerLinkActive="active" class="item">Rezar o terço</a>
  <div class="right menu">
    <a class="item"><b>{{nomeTipoMisterio}}</b></a>
    <a routerLink="/sobre" routerLinkActive="active" class="item">Sobre</a>
    </div>
</div>
<div class="ui fluid container" style="background-image: linear-gradient(to top, rgba(255,0,0,0), aquamarine);">
  <router-outlet></router-outlet>
</div>
