<div class="ui stackable center aligned two column grid segment" style="margin-top: -1%; background-color:mediumseagreen;color: white;">
  <div class="ui fifteen wide column" style="margin-top: 3%;margin-bottom: 2%;">
    <label class="titulo">{{oracaoTitulo}}</label>
  </div>
  <div class="ui one wide column" style="margin-top: 3%;margin-bottom: 2%;">
    <div class="ui mini right floated buttons" style="opacity: 0.9;">
      <button class="ui icon button" (click)="voltar()"><i class="ui backward icon"></i></button>
      <div class="or" data-text="ou"></div>
      <button class="ui teal button" (click)="avancar()" >Próximo</button>
    </div>
  </div>
</div>

<div class="ui stackable center aligned two column grid">
  <div class="column" style="text-shadow:2px 2px 10px white;">
    <app-terco-details [pMomento]="momento" [pOracaoContador]="oracaoContador" [pOracaoTotal]="oracaoTotal"
      [pMisterio]="misterio">
    </app-terco-details>
  </div>
</div>

<div class="ui stackable center aligned two column grid">

  <div class="ten wide column">
    <h2 class="ui column">
      <div class="ui fluid raised card">
        <span class="content">
          {{oracaoTexto}}
        </span>
      </div>
    </h2>
  </div>

</div>
