<div class="ui grid container">
    <div class="eight wide column">
        <h1 class="ui header">Bem-vindo ao TerçoWEB</h1>
        <h2>Aqui você não vai ter desculpas pra não rezar por ter esquecido o terço físico</h2>
        <h3>Terço completo com contador de mistérios e orações, comentários e muito mais</h3>
        <button class="ui massive teal button" (click)="irParaoTerco()" style="box-shadow: 0px 0px 10px white;">Vamos rezar!</button>
    </div>
    <div class="eight wide column">

    </div>
</div>
